/* Style de base */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* Style pour les liens */

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
